/* nomalizing */

/* font */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
}


@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}

/* material-icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
  /* overflow-x: hidden; */
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', serif;
  }

/* 오른쪽 공간 여백문제 해결? */
html {
  overflow-x: hidden !important;
}



body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
 }

a {
  color: inherit;
  text-decoration: none;
 }

 /* library */
.bg-red {
  background-color: red;
}

.bg-gold {
  background-color: gold;
 }

.bg-green {
  background-color: green;
}

 
.c-white {
  color: white;
}

/* custom */
:root {
  --nav-index: 2;
  --navbar-height: 60px;
  --card-font: rgba(80, 80, 80, 1)  ;
  --card-font-shadow: rgba(50, 50, 50, 1)  ;
  --company-color: #FF8200;
}

:root {
  --page-width: 1400px;
  --page-padding-pc: 0 40px;
  --page-padding-tab: 0 30px;
  --page-padding-mo: 0 20px;
}


/* ======================================================== */
/* Header  */

.header {
  height: 85px;
  /* 평상시에 height를 초과한 서브메뉴가 안보이게 hidden */
  overflow: hidden;
  /* background: rgba(100,100,100,.1); */
  /* border-bottom: 1px solid rgba(255,255,255,0.3); */
  position: fixed;
  width: 100%;
  z-index: 500;
  transition: all .4s;
}


.header:hover {
  height: 300px;
  background: rgba(30,30,30,.9); 
}

.header__con {
  height: 85px;
  max-width: var(--page-width);
  width: 100%;
  margin: 0 auto;
  padding: var(--page-padding-mo);
  display: block;
  justify-content: space-between;
  color: white;
  z-index: 300 !important;
}

.header__logo-con {
  height: 100%;
  /* display: flex;
  justify-content: space-between; */
  position: relative;
}

.header__logo-con > li {
  height: 100%; 
  font-size: 27px;
  font-weight: 800;
  color: #fff;
  line-height: 28px;
}

.header__hamburger {
  position: absolute;
  right: 0;
}

.header__logo-con > li > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo > a {
  font-size: 22px;
}

.header__category-con {
  height: auto; /* 세로 길이만큼 높이를 설정  */
  margin-left: 0px;
  display: flex;
  flex-direction: column;
}


.header__category-con > li {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}



.header__category-con > li > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #707070;
  justify-content: flex-start;
  padding: 12px 0;
}

.header__category-con > li > a::before {
  content: '+';
  padding: 0 7px;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 300;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
}



.header-unclick {
  height: 60px !important;
}

.header-click {
  height: 90% !important;
}

.header__category-sub-con {
  display: none;
  padding-top: 10px;
}

.block  {
  display: block !important;
}

.header__category-sub-con a {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #cdcccc;  
  line-height: 35px;
  font-weight: 600;
  transition: all .5s ease-in;
}

.header__category-sub-con a:hover {
  color: #fff;
}

.header__icon-con {
  margin-top: 30px;
  font-size: 12px;
  color: #cdcccc;
}


.header__icon-con {
  border-left: 1px solid rgba(255,255,255,0.2);
  padding-left: 40px;
  display: flex;
  align-items: center;

  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  line-height: 11px;
  font-weight: 500;
}

.header__icon-con li {
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header__icon-con li:not(:nth-last-child(1)) {
  border-right: 0.1px solid #fff;
}


@media (max-width: 1023px) {
  .header__con {
    height: 60px;
  }
  

}

/* ======================================================== */
.bg-black {
  background: black;
}
.max-h100vh {
  max-height: 100vh;
}


.intro-spot {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro-spot__con {
  position:relative;
  width: 100%;
  height: 100%;
}

.intro-spot__bg-gray {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}


.intro-spot__txt-con {
  position: absolute;
  left: 5%;
  top: 35%;
  text-align: left;
  z-index: 100;
}


.intro-spot__txt-con span {
  display: inline-block;
  color: #fff;
  /* text-shadow: 1px 1px 1px rgba(200, 200, 200, 1); */
}

.intro-spot__txt-sub01,
.intro-spot__txt-sub02 {
  font-size: 100px;
  height: 130px; /* 폰트사이즈보다 더 높아야 예쁨 */
  font-weight: 600;
  overflow-y: hidden;
  letter-spacing: -5px;
  
}


.intro-spot__txt-title {
  margin-top: 0px;
  font-size: 120px;
  height: 150px; /* 폰트사이즈보다 더 높아야 예쁨 */
  font-weight: 600;
  overflow-y: hidden;
}


.intro-spot__scroll {
  position: absolute;
  top: 45%;
  right: 5%;
  width: 70px;
  height: 110px;
  border: 1px solid #fff;
  border-radius: 60px;
  z-index: 100;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    animation: scrolldown 2s infinite;
  }
}

@keyframes scrolldown {
  from {
    opacity: 1;
    top: 10%;
  }
  to {
    opacity: 0;
    top: 50%;
  }
}


@media (max-width:834px) {
  .intro-spot {
    height: 90vh;
  }  
  .intro-spot__txt-con {
    left: 8%;
    top: 10%;
  }
  .intro-spot__txt-sub01,
  .intro-spot__txt-sub02 {
    font-size: 43px;
    height: 58px; /* 폰트사이즈보다 더 높아야 예쁨 */
    font-weight: 600;
    letter-spacing: -3px;
  }
  .intro-spot__txt-title > span {
    font-size: 70px;
  }
  .intro-spot__scroll {
    top: 83%;
    right: 8%;
    width: 30px;
    height: 55px;
    &::before {
      width: 8px;
      height: 8px;
      animation: scrolldown 2s infinite;
    }
  }
  @keyframes scrolldown {
    from {
      opacity: 1;
      top: 75%;
    }  
    to {
      opacity: 0;
      top: 40%;
    }
  }
  
}



.intro-spot__arrow {
  position: absolute;
  left: 50%;
  bottom: 100px;
  translate: -25px;
}

.intro-spot__arrow > img {  
  animation: arrowdown 0.5s ease-in-out infinite alternate;
}

@keyframes arrowdown{
  from{
    opacity: 0.1;
  }
  to{
    opacity: 0.3;
    transform: translateY(10px);
  }
}

/* -------------------------------------------------  */

.up--start {
  opacity: 0;  
  transform: translateY(30px);
}

.up--end1 {
  opacity: 1;  
  transform: translateY(0px);
  transition : all 0.5s;
}

.up--end2 {
  opacity: 1;  
  transform: translateY(0px);
  transition: 0.5s;
}

.slide-in00 {
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
}

.slide-in01 {
  opacity: 1;
  width: 92%;
  /* width: 92%; */
  transition: width 0.6s ease-in;  
}

.fade-in00 {
  opacity: 0;
  transition: opacity 1s 0.2s ease-in;
}

.fade-in01 {
  opacity: 1;
}



.left--start {
  opacity: 0;
  transform: translateY(50px);
}

.left--end {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s;
}

/* -------------------------------------------------  */
/* intro-brand */

.intro-brand {
  /* position: relative; */
  padding: 200px 0 0 0;
} 

.intro-brand__con {
  padding: var(--page-padding-pc);
  margin: 0 auto;
  max-width: var(--page-width);

}

.intro-brand__txt-con {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
  /* height: 350px; */
  overflow-y: hidden;
  transition: all 1s;
}

.intro-brand__triangle {
  position: absolute;
  left: 0px;
  top: -20px;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid rgb(16, 142, 215);
  border-left: 15px solid rgb(16, 142, 215);
  /* border-top: 15px solid #dfdfdf; */
  /* border-left: 15px solid #dfdfdf; */
  border-right: 15px solid transparent;
}

.intro-brand__txt-title,
.intro-brand__txt-sub {
  display: block;
  font-size: 42px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -1px;
  /* text-shadow: 1px 1px 2px #afafaf; */
  word-break: keep-all;
 }

 .intro-brand__txt-sub {
  display: inline-block;
  margin-top: 70px;
  /* margin-bottom: 60px; */
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
 }

 .intro-brand__txt-sub > span {
  /* font-weight: 600; */
 }

 .typing-txt {
  border-bottom: 4px solid rgb(16, 142, 215);
 }

.typing-txt::after {
  content: '';
  margin-left: 1px;
  border-right: 3px solid #111;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  from {
    border-right: 4px solid #111;
  }
  to {
    border-right: 4px solid #aaa;
  }
}


@media (max-width:834px) {
  .intro-brand {
    padding: 120px 0;
  }
  .intro-brand__con {
    padding: var(--page-padding-mo);
  }

  .intro-brand__triangle {
    top: -22px;
  }


  .intro-brand__txt-title,
  .intro-brand__txt-sub {
    /* display: block; */
    font-size: 20px;
    /* font-weight: 700; */
    line-height: 41px;
    /* letter-spacing: -2px; */
  }
  .intro-brand__txt-sub {
    /* display: inline-block; */
    margin-top: 20px;
    /* margin-bottom: 60px; */
    font-size: 16px;
    line-height: 30px;
    /* font-weight: 400; */
  }
  .typing-txt {
    border-bottom: 3px solid rgb(16, 142, 215);
   }
  
}

.intro-brand__img-wrap {  
  margin-top: 120px;
  width: 100%;
  height: 400px;
  position: relative;
  overflow-y: hidden;
}


.intro-brand__img {
  
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width:834px) {  
  .intro-brand__img-wrap {
    margin-top: 50px;
    height: 280px;
  }
}

/* -------------------------------------------------  */
/* intro-detail */

.intro-detail {
  padding-top: 150px;
  margin-left: 8vw;
}

.intro-detail__con {
  width: 100%;
  /* max-width: var(--page-width); */
  /* display: flex;
  justify-content: space-between; */
}

.intro-detail__header-con {
  position: relative;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1px;
}

.intro-detail__content-con {
  margin-top: 80px;
  display: flex;
  width: 100%;
}

.intro-detail__content-txt {
  width: 48%;
  /* padding-right: 5%; */
}

.intro-detail__content-txt-item {
  /* margin-bottom: 80px; */
  padding: 35px 0;
  opacity: 0.3;
  transition: opacity 0.3s;
  border-bottom: 1px solid rgb(150,150,150, 0.3);
}

/* 화살표 효과 */
/* .intro-detail__content-txt-item {
  position: relative;
}
.intro-detail__content-txt-item::after {
  position: absolute;
  right: 12%; 
  top: 50%; 
  content: '';
  width: 50px;
  height: 50px;
  border-top: 2px solid rgb(200,200,200, 0.3);
  border-right: 2px solid rgb(200,200,200, 0.3);
  transform: translateY(-50%) rotate(45deg);
} */

.opacity-1 {
  opacity: 1;
  border-bottom: 1px solid #111;

}

/* .opacity-1::after {
  border-top: 1px solid #000; 
  border-right: 1px solid #000; 
} */


.opacity-point3 {
  opacity: 0.3;
  border-bottom: 1px solid rgb(150,150,150, 0.3);

}

/* .opacity-point3::after {
  border-top: 2px solid rgb(200,200,200, 0.3);
  border-right: 2px solid rgb(200,200,200, 0.3);
} */


.intro-detail__content-txt-title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1px;
}

.intro-detail__content-txt-sub {
  margin-right: 180px;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -1px;
  word-break: keep-all;
}

.intro-detail__content-more > a {
  margin-top: 20px;
  display: inline-block;
  height: 100%;
  font-size: 25px;
  font-weight: 500;
  opacity: 0.1;
  cursor: pointer;
}

.intro-detail__content-img-con {
  position: relative;
  width: 52%;
  margin-top: -30px;
  height: 900px;
}

.intro-detail__triangle {
  position: absolute;
  left: -5px;
  top: -5px;
  width: 0;
  height: 0;
  border-bottom: 65px solid transparent;
  border-top: 65px solid #fff;
  border-left: 65px solid #fff;
  border-right: 65px solid transparent;
  z-index: 100;
}

.intro-detail__content-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.intro-detail__content-img > img {
  position: absolute;
  left : 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s;
}

/* -------------------------------------------------- */
.intro-pf {
  padding-top: 150px;
  margin-left: 8vw;
}

.intro-pf__con {
  width: 100%;
}

.intro-pf__title {
  position: relative;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1px;

  text-align: right;
  margin-right: 8vw;
}

.intro-pf__grid-con {
  margin-top: -80px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: -20px;
}

.intro-pf__grid-item {
  margin: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.intro-pf__box-img {
  width: calc( (100vw) / 5.5 );
  /* 이미지 비율 (가로/세로) */
  aspect-ratio: 8/10; 
  object-fit: cover;
}


.intro-pf__grid-title {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
}

.intro-pf__grid-sub {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

/* -------------------------------------------------- */
.intro-review {
  padding-top: 0px;
  margin: 0 8vw;
  margin-top: -60px;
}

.intro-review__con {
  /* max-width: var(--page-width); */
  width: 100%;
  /* padding: var(--page-padding-pc); */
  /* margin: 0 auto; */
}

.intro-review__header-con {
  position: relative;
}

.intro-review__header-title {
  position: relative;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1px;
}

.btn-more {
  position: absolute;
  bottom: 0;
  right: 0;

  font-size: 25px;
  font-weight: 700;
  letter-spacing: -1px;
  cursor: pointer;
}

.intro-review__txt-con {
  padding-top: 60px;
}

.intro-review__txt-item {
  padding: 40px 0;
  border-bottom: 1px solid rgb(150,150,150, 0.5);
}

.intro-review__txt-item > div {
  max-width: 600px;
  width: 100%;
  padding: var(--page-padding-pc);
  margin: 0 auto;
  text-align: center;
}

.intro-review__stars > span {
  font-size: 35px;
  color: gold;
  text-shadow: 3px 3px 2px orangered;
}

.intro-review__txt-title {
  margin-top: 20px !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -1px;
  word-break: keep-all;
}

.intro-review__txt-sub {
  margin-top: 20px !important;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -1px;
  color: rgba(100, 100, 100, 0.6);
}


/* -------------------------------------------------- */
.intro-img-wrap {
  position: relative;
  margin-top: 100px;
  overflow: hidden;
}

.intro-img {
  width: 100%;
  height: 105vh;
  object-fit: cover;
  transition: transform 2s;
}

.intro-img:hover {
  /* transform: scale(1.1); */
}


.intro-img__txt {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translateY(-50%);

  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;

  z-index: 100;
}

.intro-img__txt span {
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
  border: 1px solid rgb(255,255,255, 0.5);
  border-radius: 30px;
  cursor: pointer;
}