/* nomalizing */

/* font */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
}


@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}

body {
  /* overflow-x: hidden; */
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', serif;
  }

/* 오른쪽 공간 여백문제 해결? */
html {
  overflow-x: hidden !important;
}



body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
 }

a {
  color: inherit;
  text-decoration: none;
 }

 /* library */
.bg-red {
  background-color: red;
}

.bg-gold {
  background-color: gold;
 }

.bg-green {
  background-color: green;
}

 
.c-white {
  color: white;
}

/* custom */
:root {
  --nav-index: 2;
  --navbar-height: 60px;
  --card-font: rgba(80, 80, 80, 1)  ;
  --card-font-shadow: rgba(50, 50, 50, 1)  ;
  --company-color: #FF8200;
}

:root {
  --page-width: 1400px;
  --page-padding-pc: 0 40px;
  --page-padding-tab: 0 30px;
  --page-padding-mo: 0 20px;
}

  /* navbar */
.p-navbar {
  /* test */
  display: none;

  position: fixed;
  z-index: var(--nav-index);
  width: 100%;
  height: var(--navbar-height);
}

.p-navbar--dark {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
}


.p-container--default {
  max-width: 1140px;
}

.p-container {
  height: 100%;
  margin: auto;
  width: 100%;
}

.p-container__inner {
  max-width: calc(100% - 50px);
  margin: auto;
  height: 100%;
}

.p-navbar__inner-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.p-navbar__logo-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.p-navbar__logo-icon {
  display: block;
}

.p-navbar__mobile {
  display: none;
}

.button-hamberger {
  cursor: pointer;
  border: none;
  margin-top: -3px;
  width: 20px;
  height: 20px;
  background-image: url(./pic/hamberger.png); 
  background-size: contain;
  background-color: transparent;
}

.button-xline {
  background-image: url(./pic/xline.png); 
}

.p-navbar__content {
  display: flex;
  flex: 1;
  overflow-y: hidden;
  max-height: 100%;
  justify-content: space-between;
  transition: 0.3s;
}


.p-navbar__menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.p-navbar__item {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.p-navbar__item > a {
  padding: 12px 10px;
  border-radius: 5px;
  border: 0;
  text-align: left;
  color: whitesmoke;
}

.p-navbar__item > a:hover {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width:834px) {
  .p-navbar {
  }
  .p-navbar__mobile {
    display: flex;
    align-items: center;
  }

  .p-navbar__content {
    width:100%;
    flex-direction: column;
    position: absolute;
    top: var(--navbar-height);
    left: 0;

    /* 탈부착 */
    /* 햄버거누르기 전은 max-height: 0 */
    /* Q. 근데 왜 100%일 때는 자식 a의 패딩을 못 받을까? */
    max-height: 0;
  }
  .p-navbar__menu {
    flex-direction: column;
  }
  .p-navbar__item {
    padding: 0;
    width: 100%;
  }
  .p-navbar__item > a {
    padding: 18px 20px;
    border-radius: 0;
    width: 100%;
  }
}

.bg-black {
  background: black;
}
.max-h100vh {
  max-height: 100vh;
}


.intro-spot {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro-spot__con {
  position:relative;
  width: 100%;
  height: 100%;
}

.intro-spot__bg-gray {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}


.intro-spot__txt-con {
  position: absolute;
  left: 5%;
  top: 35%;
  text-align: left;
  z-index: 100;
}


.intro-spot__txt-con span {
  display: inline-block;
  color: #fff;
  /* text-shadow: 1px 1px 1px rgba(200, 200, 200, 1); */
}

.intro-spot__txt-sub01,
.intro-spot__txt-sub02 {
  font-size: 100px;
  height: 130px; /* 폰트사이즈보다 더 높아야 예쁨 */
  font-weight: 600;
  overflow-y: hidden;
  letter-spacing: -5px;
}


.intro-spot__txt-title {
  margin-top: 0px;
  font-size: 120px;
  height: 150px; /* 폰트사이즈보다 더 높아야 예쁨 */
  font-weight: 600;
  overflow-y: hidden;
}


.intro-spot__scroll {
  position: absolute;
  top: 45%;
  right: 5%;
  width: 70px;
  height: 110px;
  border: 1px solid #fff;
  border-radius: 60px;
  z-index: 100;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    animation: scrolldown 2s infinite;
  }
}

@keyframes scrolldown {
  from {
    opacity: 1;
    top: 10%;
  }
  to {
    opacity: 0;
    top: 50%;
  }
}


@media (max-width:834px) {
  .intro-spot {
    height: 90vh;
  }  
  .intro-spot__txt-con {
    left: 8%;
    top: 10%;
  }
  .intro-spot__txt-sub01,
  .intro-spot__txt-sub02 {
    font-size: 43px;
    height: 58px; /* 폰트사이즈보다 더 높아야 예쁨 */
    font-weight: 600;
    letter-spacing: -3px;
  }
  .intro-spot__txt-title > span {
    font-size: 70px;
  }
  .intro-spot__scroll {
    top: 83%;
    right: 8%;
    width: 30px;
    height: 55px;
    &::before {
      width: 8px;
      height: 8px;
      animation: scrolldown 2s infinite;
    }
  }
  @keyframes scrolldown {
    from {
      opacity: 1;
      top: 75%;
    }  
    to {
      opacity: 0;
      top: 40%;
    }
  }
  
}



.intro-spot__arrow {
  position: absolute;
  left: 50%;
  bottom: 100px;
  translate: -25px;
}

.intro-spot__arrow > img {  
  animation: arrowdown 0.5s ease-in-out infinite alternate;
}

@keyframes arrowdown{
  from{
    opacity: 0.1;
  }
  to{
    opacity: 0.3;
    transform: translateY(10px);
  }
}

/* -------------------------------------------------  */

.up--start {
  opacity: 0;  
  transform: translateY(30px);
}

.up--end1 {
  opacity: 1;  
  transform: translateY(0px);
  transition : all 0.5s 0.3s;
}

.up--end2 {
  opacity: 1;  
  transform: translateY(0px);
  transition: 0.5s;
}


.left--start {
  opacity: 0;  
  transform: translateY(50px);
}

.left--end {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s;
}

/* -------------------------------------------------  */
/* intro-brand */

.intro-brand {
  /* position: relative; */
  padding: 250px 0 150px 0;
} 

.intro-brand__con {
  padding: var(--page-padding-pc);
  margin: 0 auto;
  max-width: var(--page-width);

}

.intro-brand__txt-con {
  position: relative;
  margin: 0 auto;
  margin-bottom: 80px;
  width: 100%;
  max-width: 680px;
  /* height: 350px; */
  overflow-y: hidden;
  transition: all 1s;
}

.intro-brand__triangle {
  position: absolute;
  left: 0px;
  top: -20px;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid rgb(16, 142, 215);
  border-left: 15px solid rgb(16, 142, 215);
  /* border-top: 15px solid #dfdfdf; */
  /* border-left: 15px solid #dfdfdf; */
  border-right: 15px solid transparent;
}

.intro-brand__txt-title,
.intro-brand__txt-sub {
  display: block;
  font-size: 40px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -1px;
  /* text-shadow: 1px 1px 2px #afafaf; */
 }

 .intro-brand__txt-sub {
  display: inline-block;
  margin-top: 60px;
  /* margin-bottom: 60px; */
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
 }

 .intro-brand__txt-sub > span {
  /* font-weight: 600; */
 }


 .typing-txt {
  border-bottom: 4px solid rgb(16, 142, 215);
 }

.typing-txt::after {
  content: '';
  margin-left: 1px;
  border-right: 3px solid #111;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  from {
    border-right: 4px solid #111;
  }
  to {
    border-right: 4px solid #aaa;
  }
}


@media (max-width:834px) {
  .intro-brand {
    padding: 120px 0;
  }
  .intro-brand__con {
    padding: var(--page-padding-mo);
  }

  .intro-brand__triangle {
    top: -22px;
  }


  .intro-brand__txt-title,
  .intro-brand__txt-sub {
    /* display: block; */
    font-size: 20px;
    /* font-weight: 700; */
    line-height: 41px;
    /* letter-spacing: -2px; */
  }
  .intro-brand__txt-sub {
    /* display: inline-block; */
    margin-top: 30px;
    /* margin-bottom: 60px; */
    font-size: 16px;
    line-height: 30px;
    /* font-weight: 400; */
  }
  .typing-txt {
    border-bottom: 3px solid rgb(16, 142, 215);
   }
  
}




.intro-brand__box-con {
  position: relative;
}

.sticky {
  position: sticky;
}

.sticky:not(:nth-of-type(1)){
  top: 15%;
}

.intro-brand__box {
  max-width: 1000px;
  height: 550px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  /* border: 3px solid lightgray; */
  box-shadow:10px 10px 10px rgba(0,0,0,0.3),
    0 14px 28px rgba(0,0,0,0.3),
    -5px 14px 28px rgba(0,0,0,0.3);
  border-radius: 20px;
  display: flex;
}

.intro-brand__box > div:nth-of-type(1) {
  width: 90%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 0px 0px 20px;
}
.intro-brand__box-con > .intro-brand__box:nth-of-type(1) > div:nth-of-type(1) {
  background-image: url(./pic/shop01.jpg);
}
.intro-brand__box-con > .intro-brand__box:nth-of-type(2) > div:nth-of-type(1) {
  background-image: url(./pic/shop02.jpg);
}
.intro-brand__box-con > .intro-brand__box:nth-of-type(3) > div:nth-of-type(1) {
  background-image: url(./pic/shop03.jpg);
}



.intro-brand__box > div:nth-of-type(2) {
  display: flex;
  flex-basis: 100%;
  column-width: 100%;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.intro-brand__pc-text {
  font-size:40px;
  text-align: left;
  padding: 45px;
}

.intro-brand__pc-text > span:nth-of-type(2) {
  font-size: 28px;
  color: var(--card-font);
}

.intro-brand__pc-text > span:nth-of-type(2) > span {
  /* background-color: var(--company-color); */
  color: white;
  text-shadow: 1px 0px 2px var(--card-font-shadow),
    0px 1px 2px var(--card-font-shadow),
    -1px 0px 2px var(--card-font-shadow),
    0px -1px 2px var(--card-font-shadow);
}

.intro-brand__mobile-text {
  display: none;
}



  @media (max-width:834px) {  
  .intro-brand__box {
    max-width: 400px;
    height: 550px;
    margin-top: 140px;
    display: block;
    box-shadow:5px 5px 5px rgba(0,0,0,0.3),
    0 7px 10px rgba(0,0,0,0.3),
    -5px 7px 5px rgba(0,0,0,0.3);
    border-radius: 5px;

  }
  .sticky:not(:nth-of-type(1)){
    top: 115px;
  }
  .intro-brand__box > div:nth-of-type(1) {
    width: 100%;
    height: 50%;
    background-size: cover;
  }
  .intro-brand__pc-text {
    display: none;
  }
  .intro-brand__mobile-text {
    display: block;
    font-size: 30px;
    padding: 55px 25px;
    text-align: left;
  }
  .intro-brand__mobile-text > span:nth-of-type(2) {
    font-size: 24px;
    color: var(--card-font);
  }
  .intro-brand__mobile-text > span:nth-of-type(2) > span {
    color: white;
    text-shadow: 1px 0px 2px var(--card-font-shadow),
      0px 1px 2px var(--card-font-shadow),
      -1px 0px 2px var(--card-font-shadow),
      0px -1px 2px var(--card-font-shadow);
  }
}


.content3 {
  width: 100%;
  padding: 50px 0;
  background-color: #f9f9f9;
}

.content3__container {
  position: relative;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.content3__header, .content4__header{
  font-size: 50px;
}

.con3-header__text {
  display: inline-block;
}



.detail__swiper-con {
  margin-top: 30px;

  /* 슬라이더 내에 사진 여러장이면 이 클래스가 필요x */
  /* margin: 20px 0;
  min-width: 100%;
  width: 0; */
}

.swiper-box > img {
  box-shadow:5px 5px 5px rgba(0,0,0,0.3),
  0 7px 10px rgba(0,0,0,0.3),
  -5px 7px 5px rgba(0,0,0,0.3);  
}

.swiper-box > div {
  margin-top: 30px;
}


.swiper-box > div > span:nth-of-type(1) {
  font-size: 20px;
  color: white;
  text-shadow: 1px 0px 1.3px black,
    0px 1px 1.3px black,
    -1px 0px 1.3px black,
    0px -1px 1.3px black;
  display: block;
}

.swiper-box > div > span:nth-of-type(2) {
  font-size: 30px;
  color: black;
}

.swiper-con__mobile {
  display: none !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.8;
  padding: 12px 3px;
  border-radius: 20px;
  top: 37% !important;
  color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

@media (max-width:834px) {
  .content3__container {
    padding: 0 20px;
  }
  .content3__header {
    font-size: 35px;
  }
  .pf {
    width: calc(100% * 3);
  }
  .pf-box {
    width: calc((100% / 6));
    padding-right: 20px;
    padding-left: 20px;
  }


  .swiper-box > div > span:nth-of-type(1) {
    font-size: 20px;
  }
  .swiper-box > div > span:nth-of-type(2) {
    font-size: 25px;
  }
}

@media (max-width:500px) {
  .content3__header {
    font-size: 30px;
  }

  .detail__swiper-con {
    display: none !important;
  }

  .swiper-con__mobile {
    display: block !important;
    margin: 30px 20px 0 20px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    padding: 3px 1px;
    top: 38% !important;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 0.9rem !important;
    font-weight: 600 !important;
  }

  

}

.content4 {
  padding: 50px 0;
}

.content4__detail {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
}

.content4__header > span > span {
  color: var(--company-color)
}

.map-box {
  flex:1;
  padding: 50px 40px 0 40px;
}

.map {
  box-shadow:0 3px 5px rgba(0,0,0,0.3),
  0 5px 5px rgba(0,0,0,0.3);

}

.map-box__text {
  padding: 20px 0;
  font-size: 23px;
}

.map-box__text > span:nth-of-type(2) {
  display: none;
}


.call-box {
  flex:1;
  padding: 50px 40px 0 40px;
}

.call-box div {
  width: 100%;
  padding: 0 0 60px 0;
}

.call-box img {
  width: 400px;
}

@media (max-width:834px) {
  .content4__header {
    font-size: 30px;
  }
  .content4__detail {
    display: block;
  }
  .map-box iframe {
    width: 100%;
    height: 350px;
  }
  .map-box {
    display: block;
    padding: 50px 30px 0 30px;
  }
  .map-box__text > span:nth-of-type(1) {
    display: none;
  }
  .map-box__text > span:nth-of-type(2) {
    display: block;
  }
}

@media (max-width:500px) {
  .call-box {
    padding: 30px 30px 0 30px;
  }
  .call-box div {
    padding: 0 0 30px 0;
  }
  .call-box img {
    width: 100%;
  }
}



.content5 {
  padding: 30px 10px;
  background-color: black;
}

.content5__container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
}

.content5__container > div {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  color: #afafaf;
  text-align: left;
  font-size: 13px;
}

@media (max-width:500px) {
  .content5__container {
    display: block;
  }
  .content5__container > div {
    padding: 10px 10px;
    font-size: 10px;
  }
}